* {
    margin: 0;
    padding: 0;
    font-family: Roboto,arial,sans-serif;
}


/*-------HEADER-----*/

#navbar {
    top: 0;
    left: 0;
    font-size: .9rem;
}

#navbar ul {
    list-style-type: none;
    display: flex; /* make it a flex container */
    justify-content: space-between; /* this will create a space in between the sections "left" and "right" */
    align-items: center; /* this will center horizontally everything in the ul */
    height: 43px; /* for align-items to work, we have to specify the height of the element */
}

#navbar li {
    float: left;
}

#right {
    display: flex; /* we have to make it a flex container too, to center the items. so you avoid using margin-top, for example */
    align-items: center; 
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #222;
    text-align: center;
   /* padding-top: 20px; we don't need this padding in the link since we are centering everything with align-items */ 
    margin: auto 15px;
}

#navbar a:hover {
    text-decoration: underline;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: .8;
    text-transform: none;
    letter-spacing: normal;
    padding: 10px; /* we need to specify the padding here since we're telling CSS we want a padding of 10px on hover, otherwise, that problem happens */
    direction: ltr;

}

.material-icons-outlined:hover {
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.58);
    padding: 10px;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

}

/*----------MAIN AREA--------*/

#main-area {
    text-align: center;
    padding-top: 22vh;
}

#google {
    font-size: 85px;
    text-decoration: none;
    display: block;
    padding-bottom: 50px;
    font-weight: 900;
    letter-spacing: -3px;
}

#one {
    color: #4086F4;
}

#two {
    color: #EB4131;
}

#three {
    color: #FBBD00;
}

#four {
    color: #4086F4;
}

#five {
    color: #31AA51;
}

#six {
    color: #EB4131;
}

#search {
    width: 55%;
    height: 38px;
    border: 1px solid rgba(211, 211, 211, 0.58);
    border-radius: 20px;
    margin-bottom: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight:lighter;
    outline: none;
    padding-left: 20px;
}

#search:hover {
    box-shadow: 0px 0px 8px 1px rgba(211, 211, 211, 0.58); 
}

#search::selection {
    border-radius: 20px;
}
#entry-form button {
    background-color: rgba(211, 211, 211, 0.222);
    border: none;
    height: 30px;
    max-width: 200%;
    display: inline-block;
    padding:0 10px;
    margin: 12px 5px;
    border-radius: 5px;
}

#entry-form button:hover {
    cursor: pointer;
    border: 1px solid rgba(211, 211, 211, 0.58);
}
/*----------FOOTER---------*/

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.22);
    width: 100%;
    height: 10vh;
    font-size: .9rem;
}

footer ul {
    list-style-type: none;
}

#bottom-nav a {
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.58);
    text-align: center;
    padding: 15px;
}

#carbon {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 12px;
    }

#carbon a {
    text-decoration: none;
    color: rgba(0, 0, 0, .58);
}

.left {
    float: left;
}

.right {
    float: right;
}

#carbon a:hover {
    text-decoration: underline;
}

#bottom-nav a:hover {
    text-decoration: underline;
}
